// Place all the styles related to the Entrants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

body {
  background-color: #1a1a2a;
  -webkit-background-image: radial-gradient(circle, transparent 0%, #0a0b13 100%), url(http://d2xgoeeq7a4bfy.cloudfront.net/v1/noise-160.png);
  background-image: radial-gradient(circle, transparent 0%, #0a0b13 75%), url(http://d2xgoeeq7a4bfy.cloudfront.net/v1/noise-160.png);
}

.container {
  // font-family: Ultra;
  font-family: Bevan;
  width: 100%;
  height: 100vh;

  #header {
    text-align: center;
  }
  #trump-countdown {
    text-align: center;
    margin: 50px auto;
    h1, .tie {
      display: inline-block;
      margin: 10px;
      font-family: "Arial Black", "Arial Bold", Gadget, sans-serif;
    }
    .tie {
      height: 75px;
      margin-top: -50px;
    }
    #first-tie {margin-top: -45px;}
  }

  #vote-box {
    text-align: center;
    position: relative;
    max-width: 700px;
    margin: auto;

    .col-sm-6 {text-align: left;}
    #enter-button {margin: 10px}
    #message {
      height: 40px;
      font-family: Tahoma, Verdana, Segoe, sans-serif;

    }

    .fail {
      color: red;
    }
    .success {color: green;}
    .submit-message {
      position: absolute;
      bottom: 20px;
      right: 20px;
    }

    #hair {
      position: absolute;
      top: -200%;
      left: -25%;
      z-index: -99;
      width: 150%;
    }
    label {
      color: white;
      font-family: Tahoma, Verdana, Segoe, sans-serif;

    }
    .form-control {
      font-family: Tahoma, Verdana, Segoe, sans-serif;
      background-color: rgba(0, 0, 0, .25);
      border-color: #46aeff;
      color: #ff4646;
    }
  }

  // h1, h2, h3, h4, p {line-height: 1}
  h1 {font-size: 100px;}
  h2 {font-size: 60px;}
  h3 {font-size: 40px;}
  .red {color: #ff4646;}
  .blue {color: #46aeff;}
  .white {color: white;}
}

#trump-face {
  height: 250px;
  width: 225px;
  // background-color: black;
  background-image: url(asset-path('face2.png'));
  background-size: contain;
  background-repeat: no-repeat;
  position: fixed;

  &.active {
    transition: all 0.25s ease;
  }

  &.type-0 {
    // transition: all 0.25s ease;
    bottom: -400px;
    left: 50%;
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%);
    &.active {
      bottom: 50px;
    }
  }

  &.type-1 {
    // transition: all 0.25s ease;
    top: 50%;
    right: -400px;
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    transform: rotate(270deg);
    &.active {
      right: 50px;
    }
  }

  &.type-2 {
    top: -400px;
    left: 50%;
    // transition: all 0.25s ease;
    -webkit-transform: rotate(180deg);
    -moz-transform: rotate(180deg);
    -ms-transform: rotate(180deg);
    -o-transform: rotate(180deg);
    transform: rotate(180deg);
    &.active {
      top: 50px;
    }
  }

  &.type-3 {
    top: 50%;
    // transition: all 0.25s ease;
    left: -400px;
    -webkit-transform: rotate(90deg);
    -moz-transform: rotate(90deg);
    -ms-transform: rotate(90deg);
    -o-transform: rotate(90deg);
    transform: rotate(90deg);
    &.active {
      left: 50px;
    }
  }
}
